@if(!guessedNumber) 
  <p> 'Please specify a number by passing ?number=<num> to the url'</>
@elseif(guessedNumber === randomNumber)
  <h2> Matched </h2>
@else 
  <h2> Match failed. The actual number is {{ randomNumber }} </h2>
@endif