@layout('master') 
@section('content')
  @loggedIn
    <h2> Hello {{ auth.user.username }} </h2>
    <a href="{{ route('signout') }}">sign out</a>
  @else
    <a href="{{ route('/signin') }}">Sign In</a>
    <a href="{{ route('/signup') }}">Sign Up</a>
  @endloggedIn
@endsection