<form method="POST" action="{{ route('signinForm') }}">

  {{ csrfField() }}
  <div>
  <input type="text" name="email" />
  </div>

  <div>
    <input type="text" name="password" />
  </div>

  <button type="submit"> Submit </button>
</form>
