@layout('master') 
@section('content')
  <p> Please sign up or <a href="{{route('login')}}">sign in</a></p>
  <form method="POST" action="{{route('register')}}">
    {{ csrfField() }}
    <input type="text" name="username" value="" placeholder="Username">
    <input type="text" name="email" value="" placeholder="Email">
    <input type="password" name="password" value="" placeholder="Password">
    <button type="submit">GO</button>
  </form>
@endsection