@layout('master') 
@section('content')
  <p> Please sign in or <a href="{{route('/signup')}}">sign up</a></p>
  <form method="POST" action="{{route('signin')}}">
    {{ csrfField() }}
    <input type="text" name="email" value="" placeholder="Username">
    <input type="password" name="password" value="" placeholder="Password">
    <button type="submit">GO</button>
  </form>
@endsection